img[value="propic"] {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.intro {
    text-align: center;
}

.resume {
    border-left: 200px solid;
}

body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

hr {
    color: white;
}

ul, ol {
    color: white;
    text-align: center;
    list-style: inside;
}