* {
    margin-left: -40px;
    margin-top: -20px;
    text-align: center;
}

div {
    display: block;
}

.resume {
    max-width: 1500px;
}

img[value="propic"] {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

hr {
    color: white;
}

ul, ol {
    color: white;
    text-align: center;
}